{% extends "base.html" %}
{% block content %}

<h2>Consultar Reservas</h2>

<form method="POST" action="/run">

    <label>Usuário (BBZ):</label>
    <input type="text" name="username" required>

    <label>Senha:</label>
    <input type="password" name="password" required>

    <label>Tipo:</label>
    <select name="tipo" required>
        <option value="tenis" selected>Quadras de Tênis</option>
        <option value="churras">Churrasqueiras</option>
    </select>

    <label>Recurso:</label>
    <select name="recurso" required>
        <option value="tenis_1">TÊNIS 1</option>
        <option value="tenis_2">TÊNIS 2</option>
        <option value="tenis_3">TÊNIS 3</option>
        <option value="ch_1">Churrasqueira 1</option>
        <option value="ch_2">Churrasqueira 2</option>
        <option value="ch_3">Churrasqueira 3</option>
    </select>

    <label>Data inicial:</label>
    <input type="date" name="start_date" required>

    <label>Data final:</label>
    <input type="date" name="end_date" required>

    <button type="submit">Pesquisar</button>

</form>

{% endblock %}
